<html>
		<head>
			<title>Cosmetic store</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width" initial-scale=1>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
		</head>
		<style>
			div{
				color: black;
				text-align: center;
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
			img{
				height: 200px;
                width: 180px;
				padding-bottom: 20px;
			}
			button{
				margin-top: 10px;
			}
		</style>
        <body>
			<div class="container mt-3">
				<div class="row" >
					<div class="col-lg-1"><i class="bi bi-list" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-house-door-fill" style="font-size: 2rem;"></i></div>
					<div class="col-lg-8"><h2 class="display-6" style="color:midnightblue;font-weight:500;">Cosmetic's Store</h2></div>
					<div class="col-lg-1"><i class="bi bi-person-circle" style="font-size: 2rem;"></i></div>
					<div class="col-lg-1"><i class="bi bi-cart-fill" style="font-size: 2rem;"></i></div>
				</div><br>
                <div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="img1.jpg"/>
						<b><br>Onion Shampoo with Onion and Plant Keratin for Hair Fall Control - 250ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="349/-"><del><small>449/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Onion Shampoo with Onion and Plant Keratin for Hair Fall Control - 250ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 "><img class="img rounded" src="img2.jpg" >
						<b><br>Onion Hair Oil for Hair Regrowth and Hair Fall Control, 250ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="599/-"><del><small>699/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Onion Hair Oil for Hair Regrowth and Hair Fall Control, 250ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img3.jpg" >
						<b><br>Ubtan Face Wash with Turmeric & Saffron for Tan Removal – 150 ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="375/-"><del><small>475/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Ubtan Face Wash with Turmeric & Saffron for Tan Removal – 150 ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img4.jpg">
						<b><br>Vitamin C Face Wash with Vitamin C and Turmeric for Skin Illumination - 100ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="259/-"><del><small>359/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Vitamin C Face Wash with Vitamin C and Turmeric for Skin Illumination - 100ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img5.jpg" >
						<b><br>Vitamin C Face Toner with Vitamin C and Cucumber for Pore Tightening, 200 ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="399/-"><del><small>499/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Vitamin C Face Toner with Vitamin C and Cucumber for Pore Tightening, 200 ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img6.jpg" >
						<b><br>Vitamin C Oil-Free Moisturizer For Face with Vitamin C and Gotu Kola for Skin Illumination - 80 ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="319/-"><del><small>399/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Vitamin C Oil-Free Moisturizer For Face with Vitamin C and Gotu Kola for Skin Illumination - 80 ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img7.jpg" >
						<b><br>Ubtan Face Scrub with Turmeric and Walnut for Tan Removal - 100g</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="349/-"><del><small>399/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Ubtan Face Scrub with Turmeric and Walnut for Tan Removal - 100g">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img8.jpg">
						<b><br>Ubtan Body Wash With Turmeric and Saffron for Glowing Skin - 300 ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="349/-"><del><small>449/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Ubtan Body Wash With Turmeric and Saffron for Glowing Skin - 300 ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img9.jpg">
						<b><br>Ubtan Foaming Face Wash with Turmeric and Saffron for Tan Removal - 150ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="399/-"><del><small>499/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Ubtan Foaming Face Wash with Turmeric and Saffron for Tan Removal - 150ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
                    <div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img10.jpg" >
						<b><br>Onion Hair Serum with Onion and Biotin for Strong, Frizz-Free Hair - 100 ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="299/-"><del><small>399/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Onion Hair Serum with Onion and Biotin for Strong, Frizz-Free Hair - 100 ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img11.jpg">
						<b><br>Onion Conditioner for Hair Fall Control - 250ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="349/-"><del><small>499/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Onion Conditioner for Hair Fall Control - 250ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12"><img class="img rounded" src="img12.jpg">
						<b><br>Tea Tree Hair Oil with Tea Tree and Ginger Oil for Dandruff Free Hair - 250ml</b><br>
						<form action="addedToCart" method="GET"><input type="text" style="width:65px; font-weight:bold;" name="cost" value="499/-"><del><small>549/-</small></del><br><button type="submit" class="btn btn-warning" name="item" value="Tea Tree Hair Oil with Tea Tree and Ginger Oil for Dandruff Free Hair - 250ml">ADD TO CART <i class="bi bi-cart4"></i></button></form>
					</div>
                </div><br><br>
				<form action="cart" method="GET">
					<center><input type="submit" class="btn btn-success" style="width:30%;font-weight: bold;" value="GO TO CART"></center>
				</form><br><br>
            </div>
		</body>
</html>